.wrapper {
  text-align: center;
}

.creteListTasksContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.listTasksContainer {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}